 <div class="container">

  	<div class="row">

  		<div class="col-lg3">
  			<table rules="none", border="1">
  			  <thead>
  				   <h2>User info</h2>
  			  </thead>

  			     <tbody>
  					<tr>
  						<th>ナマエ</th>
  					</tr>
  					<tr>
  						<td><h4>:モリソウタ</h4></td>
  					</tr>
  					<tr>
  						<th>名前</th>
  					</tr>
  					<tr>
  						<td><h4>:森相太</h4></td>
  					</tr>
  					<tr>
  						<th>住所</th>
  					</tr>
  					<tr>
  						<td><h4>〒　1111111</h4></td>
  					</tr>
  					<tr>
  						<td><h4>東京都板橋区高島平１２３４５６７８</h4></td>
  					</tr>
  					<tr>
  						<th>電話番号</th>
  					</tr>
  					<tr>
  						<td><h4>09012345678</h4></td>
  					</tr>
  					<tr>
  						<th>メールアドレス</th>
  					</tr>
  					<tr>
  						<td><h4>yukihirakawa@com</h4></td>
  					</tr>
  					
  					
  				 </tbody>
  			</table>

  			<%= link_to "編集する",edit_users_user_path(@user),class: "col-lg-3 btn btn-default" %>
  				
  				
  			
  		</div>
  	</div>
  </div>


</div>
