#ProductDetailArea {
margin:18px 0 0;
overflow:hidden;
width:780px;
}

#content {
clear:both;
width:100%;
}

#main {
width:100%;
}

#wrapper {
min-width:1200px;
}

.box {
border-left:1px solid #f5f5f5;
margin:0 0 0 2px;
}

.breadcrumb {
clear:both;
color:#888;
font-size:12px;
margin:20px 0;
}

.centeringBlock {
margin-left:auto;
margin-right:auto;
position:relative;
width:1200px;
}

.introduction {
background:#fff;
clear:both;
padding:20px 0 50px;
}

.line-bg {
background:url(/assets/line_bg-a813561cac62b95b06857e0fc019e4a5fc30f65732026127226ef29ca634b9ec.gif);
border:none;
clear:both;
display:block;
height:11px;
margin:18px 0 0;
text-indent:-9999px;
}

.lot-number {
clear:both;
font-size:12px;
}

.main-detail {
float:right;
width:355px;
}

.main-product {
float:left;
width:416px;
}

.price {
font-size:14px;
margin:30px 0 20px;
}

.search {
background:#8e8e8e;
margin:0 0 30px;
overflow:hidden;
padding:8px 0 8px 100px;
}

.singleRelationsBlock {
position:relative;
}

.stock {
border-top:#ccc 1px solid;
border-bottom:#ccc 1px solid;

margin:10px 0;
}

.stock li {
overflow:hidden;
padding:10px 20px;
}

.stock li p {
float:left;
padding:3px 0 0;
width:80px;
}

.title {
font-size:14px;
margin:0;
}

hr.dod {
border:none;
border-top:#ccc 1px dotted;
padding:0 0 25px;
}

p.result {
font-family:"メイリオ", Meiryo;
font-size:18px;
font-weight:700;
margin:18px 0;
}

ul.DetailColor {
display:inline-block;
overflow:hidden;
}

ul.DetailColor li {
cursor:pointer;
display:inline;
float:left;
font-size:10px;
height:110px;
margin:0 3px 0 0;
width:66px;
}

ul.product {
clear:both;
display:inline-block;
overflow:hidden;
}

ul.product li {
border-bottom:#f5f5f5 1px solid;
border-right:#f5f5f5 1px solid;
border-top:1px solid #f5f5f5;
display:inline;
float:left;
height:320px;
padding:0 10px;
width:134px;
}