<div>
  <h1>新規ジャンル<h1>
  <%= form_for [:admins, @genre] do |f| %>
  <table>
    <tr>
      <th>ジャンル名</th>
      <td>
        <%= f.text_field :genre_name %>
     </td>
    <tr><%= f.submit 'このジャンルを登録する' %></tr>
  </table>
<% end %>
