<div>
  <h1>新規アーティスト<h1>
  <%= form_for [:admins, @artist] do |f| %>
  <table>
    <tr>
      <th>氏名</th>
      <td>
        <%= f.text_field :artist_name  %>
     </td>
    <tr><%= f.submit 'このアーティストを登録する' %></tr>
  </table>
<% end %>
